//font-size
$main-font-size: 18px;
$second-font-size: 13px;
//text-color
$text-color: #FBF6E4;
$text-color-hover: #E1C2F1;
//font
$font-main: 'Quicksand',
sans-serif;
$font-bold: 700;
$font-regular: 400;
//colors
$btn-color: #23AE92;
$color-red: #ff0242;
//border-color
$border-color: #E66A64;
$border-input-color:#E5EEEE;
$border-link-footer: #96C1DA;