@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #000;
    display: flex;
    height: 100vh;
}

.wrapper {
    text-align: center;
    margin: auto;
}

.logo {
    display: inline-block;
    margin-bottom: 50px;
}

a {
    display: flex;
}

.social-part {
    color: #fff;
    margin-bottom: 180px;
}

.social-title {
    font-size: 20px;
    padding-bottom: 25px;
}

.social-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
    border-top: 1px solid #fff;
    padding-top: 25px;
    list-style: none;
}

footer {
    color: #fff;
}

.color-blue {
    color: #19c8fa;
}