@import "vars";
@import "mixins";
@import "common";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import "./coffee";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'myriad-pro', sans-serif;
<<<<<<< HEAD
}
=======
}
>>>>>>> fda57596ed6b1c00a024b8ab776b7434b869f55b
