@import "vars";
@import "mixins";
@import "common";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.1s ease;
}

.body-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 107px;

    p:nth-child(1) {
        padding: 40px 0;
        font-size: 12px;
        font-weight: 700;
    }

    h1 {
        font-size: 48px;
        color: $main-color;
        margin-bottom: 40px;
    }

    p:last-child {
        font-size: 18px;
        max-width: 513px;
        margin: 0 auto;
    }
}

ul {
    list-style: none;
    display: flex;

    li {
        text-align: center;
        background-color: #F7F7F7;
    }

    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        color: $text-color;
    }

    .card-title {
        font-size: 21px;
        text-transform: uppercase;
    }

    li:hover {
        fill: $white;
        background-color: $main-color;

        span,
        p {
            color: $white;
        }
    }

    svg {
        margin: 50px 0;
    }

    li:nth-of-type(2) svg {
        margin-bottom: 30px;
    }

    .card-title {
        margin-bottom: 30px;
    }

    p {
        padding: 0 40px;
        font-size: 14px;
    }
}