        $style: "gallery";
        .#{$style} {
            &__list {
                list-style: none;
                @include flex($direction: column);
                @media screen and (min-width: 992px) {
                    @include flex($wrap: wrap);
                }
                @media screen and (min-width: 768px) {
                    @include flex($wrap: wrap);
                }
            }
            &__list-item {
                min-height: 237px;
                margin-bottom: 10px;
                transition: .5s ease;
                background: no-repeat center;
                background-size: cover;
                @media screen and (min-width: 992px) {
                    width: 30%;
                    margin-right: 10px;
                    &:nth-child(2),
                    &:nth-child(5) {
                        flex-grow: 2;
                    }
                    &:nth-of-type(3n+3) {
                        margin-right: 0;
                    }
                    &:nth-of-type(1n+4) {
                        margin-bottom: 0;
                    }
                }
                @media screen and (min-width: 768px) and (max-width: 991px) {
                    width: calc(100% / 2 - 5px);
                    margin-right: 10px;
                    &:nth-last-of-type(odd) {
                        margin-right: 0;
                    }
                    &:nth-of-type(5) {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    opacity: .7;
                }
                a {
                    display: flex;
                    height: 100%;
                    text-decoration: none;
                    text-transform: uppercase;
                    @include text($font-size-title, 700);
                    position: relative;
                }
                &:nth-child(1) {
                    background-image: url(../img/bg-topworks.png);
                }
                &:nth-child(2) {
                    background-image: url(../img/bg-joint.png);
                }
                &:nth-child(3) {
                    background-image: url(../img/bg-market.png);
                }
                &:nth-child(4) {
                    background-image: url(../img/bg-worktop.png);
                }
                &:nth-child(5) {
                    background-image: url(../img/bg-lable.png);
                }
                &:nth-child(6) {
                    background-image: url(../img/bg-kyiv.png);
                }
                &:nth-of-type(1n+4) {
                    @media screen and (min-width: 992px) {
                        margin-bottom: 0;
                    }
                }
            }
            &__list-item-title {
                position: absolute;
                top: 170px;
                left: 30px;
                letter-spacing: 5.44px;
                transition: color 0.5s ease;
                @media screen and (min-width: 992px) {
                    bottom: 42px;
                    left: 49px;
                }
            }
            &__list-item:hover &__list-item-title {
                color: $text-color;
            }
        }