$style: "lab-footer";
.#{$style} {
    padding: 63px 0;
    @include flex (center, center);
    a {
        margin-right: 36px;
        @media screen and (max-width: 415px) {
            margin-right: 15px;
        }
    }
    &__footer-text {
        font-size: $font-size-footer;
    }
}