$style: "sections";
.#{$style} {
    text-align: center;
    padding: 30px 0 50px;
    &__wrapper {
        margin: 0 auto;
        text-align: center;
        color: $text-color;
        border-bottom: 2px solid $text-color;
        border-right: 2px solid $text-color;
        border-left: 2px solid $text-color;
        position: relative;
        padding: 30px 30px;
        max-width: 500px;
        @media screen and (min-width: 992px) {
            max-width: 900px;
            padding: 50px 0 50px;
        }
        &:before,
        &:after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: $text-color;
            display: inline-block;
            position: absolute;
            top: 0;
            @media screen and (min-width: 992px) {
                width: 240px;
                height: 2px;
            }
        }
        &:before {
            left: 0px;
        }
        &:after {
            right: 0px;
        }
        span {
            display: block;
            max-width: 550px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        span:last-child {
            margin-bottom: 0;
        }
    }
    &__about-us {
        line-height: 1.5;
        @media screen and (min-width: 992px) {
            padding: 145px 0 150px;
        }
    }
    &__title {
        @include text($font-size-title, 700, $text-color);
        // margin: 0 auto;
        letter-spacing: 5.1px;
        text-transform: uppercase;
        transform: translateY(20px);
    }
}