header,
footer {
    color: white;
    text-align: center;
}

header {
    background-color: #a52a2a;
}

footer {
    background-color: #000;
    margin: 30px 0;
    font-size: 20px;
}

main {
    font-size: 18px;
}

.main-picture img {
    width: 100%;
}

.strong {
    font-weight: bold;
}

.color-blue {
    color: blue;
}

.photoCars {
    text-align: center;
}

.photoCars img {
    border: dashed;
}