.we-are {
    &__container {
        max-width: 1170px;
        margin: 0 auto;
        padding-top: 108px;
    }
    &__head {
        text-align: center;
        color: $text-color;
        margin-bottom: 58px;
        h1 {
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
            margin-bottom: 64px;
            font-size: $main-fz;
            &::after {
                content: '';
                display: inline-block;
                width: 46px;
                height: 5px;
                background-color: #DDDBDB;
                position: absolute;
                bottom: -19px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        span {
            max-width: 560px;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 118px;
    }
    &__list-item {
        min-width: calc(100% / 4 - 15px);
        margin-right: 15px;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
    }
    &__list-item-photo {
        position: relative;
        min-height: 270px;
        margin-bottom: 20px;
        transition: z-index 0.5s ease;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    &__list-item-title {
        min-height: 50px;
        color: $text-second-color;
    }
    &__list-item-title-name {
        font-size: 18px;
        font-weight: 700;
    }
    &__list-item-title-profession {
        font-size: 14px;
    }
    &__social-icon {
        display: flex;
        min-height: 270px;
        justify-content: center;
        align-items: center;
        background-color: $bg-card-color;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        transition: z-index 0.5s ease;
    }
    &__icon-item {
        width: 45px;
        height: 45px;
        position: relative;
        margin-right: 5px;
        cursor: pointer;
    }
    &__list-item-photo:hover~&__social-icon {
        z-index: 1;
    }
}