* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MuseoSansRounded100";
}

body,
html {
    min-height: 100vh;
    font-size: 100%;
}

ul {
    list-style: none;
}

a {
    display: flex;
}