//fonts
$main-font: "MuseoSansRounded100";
//font-size
$font-sz-title: 24px;
$font-sz: 14px;
//colors
$white: #fff;
$black: #000;
$first-btn-color: #1F273F;
$second-btn-color: $white;
$third-btn-color: #ED3333;
$fourth-btn-color: #29E3EA;
$border-btn-color: #7E838B;
$add-btn-color: #202835;
$text-color: #E1E1E1;
//backgraunds
$nike-bg1: url(../img/layer1.png);
$nike-bg2: url(../img/layer2.png);
$nike-bg3: url(../img/layer3.png);
$nike-bg0: url(../img/layer0.png);
$nike-card-bg: #111A28;