$style: "start-page";
.#{$style} {
    min-height: 100vh;
    background: url(../img/start-bg.png) no-repeat center;
    background-size: cover;
    position: relative;
    &__header {
        @include flex(space-between);
        margin-bottom: 100px;
    }
    &__logo {
        @include text($start-title-fsz, 400, $text-color);
        font-family: $ff-pacifico;
    }
    &__nav {
        list-style: none;
        @include flex($align-items: center);
    }
    &__nav-item {
        margin-right: 58px;
        transition: border 0.1s ease;
        &:last-child {
            margin-right: 0;
        }
    }
    &__nav-item-link {
        text-decoration: none;
        @include text(16px, 700, $text-color);
        &:hover,
        &:focus {
            border-top: 3px solid $col-btn;
        }
    }
    &__description {
        max-width: calc(100% / 3);
        @include flex($align-items: start, $direction: column);
    }
    &__description-title {
        @include text($start-title-fsz, 900, $black);
        margin-bottom: 34px;
    }
    &__description-text {
        @include text($text-fsz, 300, $text-color);
        line-height: 1.59;
        margin-bottom: 31px;
    }
    &__description-btn {
        min-height: 55px;
        padding: 0 25px;
        background-color: $col-btn;
        @include text($btn-fsz, 300, $white);
        font-family: $ff-raleway;
        border: none;
        box-shadow: 0px 6px 10px 1px rgba(255, 96, 51, 0.55);
        transition: 0.3s ease;
        &:hover {
            background-color: $white;
            color: $col-btn;
            border: 1px solid $col-btn;
        }
    }
    &__scroll-icon {
        position: absolute;
        right: 50%;
        bottom: 20px;
        animation: pulsing 2s infinite;
    }
    @keyframes pulsing {
        0% {
            // transform: scale(0.5, 0.5);
            opacity: 0.1;
        }
        50% {
            // transform: scale(1.0, 1.0);
            opacity: 0.9;
        }
        100% {
            // transform: scale(0.5, 0.5);
            opacity: 0.1;
        }
    }
}