@import "vars";
@import "mixins";
@import "common";
@import "./start-page";
@import "./_about-us";
@import "./our-services";
@import "./gallery";
@import "./subscribe";
@import "./blog";
@import "./contact";
@import "./footer";
@import "./toggle-nav";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap');
.title {
    font-size: $logo-fsz;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 576px) {
        font-size: $title-fsz;
    }
}

.scrollToTopBtn {
    background-color: $col-footer-text-01;
    border: none;
    outline: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all .5s ease
}

.showBtn {
    opacity: 1;
    transform: translateY(0)
}