$style: "contact-us";
.#{$style} {
    background: url(../img/backgraunds/bg5.png) no-repeat center;
    background-size: cover;
    &__wrapper {
        padding-top: 120px;
        padding-bottom: 200px;
    }
    &__title {
        text-align: center;
        margin-bottom: 94px;
        @include text($H360);
        font-family: $aleo;
    }
    &__descript {
        @include flex();
    }
    &__descript-img {
        @include padding-hack (36.3%, cover);
        min-width: 35%;
    }
    &__descript-inner {
        padding: 50px 54px 48px 60px;
        background-color: $card-bg;
    }
    &__descript-inner-name {
        display: block;
        @include text($H200);
        text-transform: uppercase;
        margin-bottom: 33px;
    }
    &__descript-inner-text {
        display: block;
        line-height: 1.63;
        color: $white;
    }
    &__descript-inner-quote {
        display: inline-block;
        @include text($H360, 400, $main-color);
        margin-right: 15px;
        transform: translateY(-15px);
    }
}