$style: "who-we-are";
.#{$style} {
    background: url(../img/backgraunds/bg2.png) no-repeat center;
    background-size: cover;
    // @include flex();
    &__wrapper {
        padding-top: 120px;
        padding-bottom: 120px;
        @include flex(space-between, center);
    }
    &__wrapper-col {
        width: calc((100% / 12) * 6 - 50px);
        @include flex (start, start, column);
    }
    &__col-title {
        @include text ($H360);
        font-family: $aleo;
        margin-bottom: 62px;
    }
    &__col-text {
        display: block;
        color: $white;
        letter-spacing: 1.6px;
        line-height: 1.63;
        margin-bottom: 40px;
    }
    &__col-img-wrap {
        min-width: 350px;
        min-height: 220px;
        @include padding-hack(44%, cover);
        margin-bottom: 5px;
        &--right {
            align-self: flex-end;
            margin-bottom: 0;
        }
    }
}