$style: "card-team";
.#{$style} {
    &__header {
        @include flex(center, center, column);
        padding-top: 30px;
        margin-bottom: 15px;
        text-align: center;
    }
    &__header-subtitle {
        @include text($midle-fsz, 400, $title-color);
        margin-bottom: 18px;
    }
    &__header-title {
        @include text($big-fsz, 700, $team-color);
        font-family: $font-roboto;
        margin-bottom: 45px;
        margin-top: 0;
    }
    &__team-logo {
        display: flex;
        position: relative;
        &::before,
        &::after {
            content: '';
            width: 50px;
            height: 2px;
            position: absolute;
            background-color: $team-color;
            display: inline-block;
            bottom: 50%;
            transform: translateY(-1px);
        }
        &::before {
            right: 30px;
        }
        &::after {
            left: 30px;
        }
        @media screen and (min-width: 576px) {
            &::before,
            &::after {
                content: '';
                min-width: 212px;
                height: 2px;
                position: absolute;
                background-color: $team-color;
                display: inline-block;
                bottom: 50%;
                transform: translateY(-1px);
            }
            &::before {
                right: 30px;
            }
            &::after {
                left: 30px;
            }
        }
    }
    &__card-wrapper {
        @include flex (start, center, column);
        position: relative;
        @media screen and (min-width: 576px) {
            @include flex(space-between);
            &:before {
                content: '';
                width: 2px;
                height: 100%;
                background-color: $team-color;
                display: inline-block;
                position: absolute;
                right: 50%;
            }
        }
    }
    &__card-wrapper-item {
        width: calc((100% / 12) * 5);
        min-height: 200px;
        @media screen and (min-width: 576px) {
            min-height: 561px;
        }
        @media screen and (min-width: 992px) {
            width: calc((100% / 12) * 6);
        }
    }
}