* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-size: 100%;
}

a {
    display: inline-block;
}

.container {
    margin: 0 auto;
    max-width: 540px;
    font-family: "Raleway", sans-serif;
    @media screen and (min-width: 576px) {
        max-width: 540px;
    }
    @media screen and (min-width: 768px) {
        max-width: 740px;
    }
    @media screen and (min-width: 992px) {
        max-width: 970px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }
}

.uk-position-relative {
    margin-bottom: 50px;
}

.uk-slider-nav a {
    background-color: $team-color;
    border-color: $team-color;
}

.uk-slider-nav a:focus {
    background-color: $white;
    border-color: $team-color;
}

.uk-dotnav>.uk-active>* {
    background-color: $white;
    border-color: $team-color;
}

.uk-dotnav>*> :hover {
    background-color: $white;
    border-color: $team-color;
}

.uk-slidenav {
    color: $team-color;
}

.uk-dotnav {
    margin-left: 0;
}

.uk-dotnav>* {
    padding-left: 0;
    margin-right: 12px;
    transform: translateX(5px);
     :last-child {
        margin-right: 0;
    }
}