    $style: "photo-wrap";
    .#{$style} {
        @include flex(center, center);
        padding: 0 30px;
        text-align: center;
        @media screen and (min-width: 768px) {}
        @media screen and (min-width: 992px) {}
        &__inner {
            position: relative;
            &::before,
            &::after {
                content: '';
                width: 100px;
                height: 100px;
                display: inline-block;
                position: absolute;
                border-top: 1px solid $team-color;
                border-left: 1px solid $team-color;
                top: -14px;
            }
            &::before {
                left: -14px;
            }
            &::after {
                right: -14px;
                transform: rotate(90deg);
            }
        }
        &__inner-bottom-corners {
            display: flex;
            min-width: 388px;
            @include padding-hack(100%, cover);
            &::before,
            &::after {
                content: '';
                width: 100px;
                height: 100px;
                display: inline-block;
                position: absolute;
                border-top: 1px solid $team-color;
                border-left: 1px solid $team-color;
                bottom: -14px;
            }
            &::before {
                left: -14px;
                transform: rotate(-90deg);
            }
            &::after {
                right: -14px;
                transform: rotate(180deg);
            }
            img {
                border: 1px solid $team-color;
            }
        }
    }