// text-colors
$title-color: #898F8F;
$text-color: #666666;
$text-second-color: #333333;
//colors
$team-color: #FFCC00;
$white: #ffffff;
//fonts-size
$big-fsz: 60px;
$title-fsz: 36px;
$subtitle-fsz: 24px;
$midle-fsz: 18px;
$text-fsz: 14px;
//fonts
$font-open-sans: 'Open Sans',
sans-serif;
$font-roboto: 'Roboto',
sans-serif;