$style: "delicious";
.#{$style} {
    &__wrapper {
        padding-top: 193px;
        padding-bottom: 143px;
        @include flex (center, center);
    }
    &__img-wrap {
        min-width: 464px;
        min-height: 464px;
        @include padding-hack(41%, cover);
        border: 1px solid $white;
        border-radius: 50%;
        overflow: hidden;
    }
    &__descript {
        margin-right: 156px;
    }
    &__title {
        color: $main-color;
        margin-bottom: 59px;
    }
    &__subtitle {
        color: $main-color;
        margin-bottom: 73px;
        display: block;
        max-width: 573px;
    }
    &__btn {
        max-width: 322px;
    }
}