//fonts 
$montserrat: 'Montserrat',
sans-serif;
//colors
$black: #000;
$white: #fff;
$main-color: #ff7f7f;
$input-color: #f4f4f4;
//font-size
$h75: 75px;
$h59: 59px;
$h45: 45px;
$h42: 42px;
$h34: 34px;
$h32: 32px;
$h30: 30px;
$h28: 28px;
$h24: 24px;
$h25: 25px;
$h17: 17px;