$style: "lab-footer";
.#{$style} {
    padding: 63px 0;
    @include flex (center, center);
    &__footer-logo {
        margin-right: 36px;
    }
    &__footer-text {
        font-size: $font-size-footer;
    }
}