* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-color;
}

html,
body {
    min-height: 100vh;
}

body {
    font-size: 100%;
    font-family: $font-main;
    background: url(../img/background1X.png);
    display: flex;
    align-items: center;
}